.gridItem {
  grid-column: 2 / span 4;
}

.content {
  display: grid;
  grid-template-columns: 330px 330px;
  grid-row-gap: 15px;
  grid-column-gap: 50px;
  align-items: center;
}

@media (max-width: 1250px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
