.select {
  appearance: none;
  overflow: hidden;
  padding: 12px 50px 12px 22px;
  background: url("./dropdown-arrow-img.svg") no-repeat calc(100% - 13px)
    calc(50% + 5px);
}

.input {
  padding: 14px 38px;
}

.input,
.select {
  width: 330px;
  height: 63px;
  background-color: #f6f6f5;
  border: 2px solid #434f4d;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.input:focus,
.select:focus {
  outline: none;
}
