.selectWrapper {
  width: 330px;
  position: relative;
}

.selectWrapper::after {
  content: url("./rectangle-img.svg");
  position: absolute;
  top: 15px;
  right: 15px;
}

.select {
  appearance: none;
  overflow: hidden;
}

.input {
  padding: 14px 38px;
}

.select {
  padding: 12px 50px 12px 22px;
}

.input,
.select {
  width: 330px;
  height: 63px;
  background-color: #f6f6f5;
  border: 2px solid #434f4d;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.input:focus,
.select:focus {
  outline: none;
}
