.gridItem {
  grid-column: 1 / span 6;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  align-items: center;
}

@media (max-width: 1250px) {
  .items {
    grid-template-columns: 1fr;
  }

  .status {
    display: flex;
    justify-content: center;
  }
}
